body {
  background-color: #f8f8f8;
  max-width: 960px;
  margin: auto;
}

/* partie flexbox */
.flexbox .container {
  display: flex;
  background-color: antiquewhite;
  padding: 15px;
  flex-direction: row;
  justify-content: space-around;
}

.flexbox .container .card {
  color: white;
  width: 200px;
  padding: 10px;
}
.flexbox .container .card-1 {
  background-color: black;
}
.flexbox .container .card-2 {
  background-color: red;
}
.flexbox .container .card-3 {
  background-color: blue;
}
.flexbox .container .card-4 {
  background-color: forestgreen;
}

/* partie grid */
.grid .container {
  display: grid;
  background-color: antiquewhite;
  padding: 15px;
  grid-template-columns: auto auto auto auto;
}

.grid .container .card {
  color: white;
  width: 200px;
  padding: 10px;
}
.grid .container .card-1 {
  background-color: black;
}
.grid .container .card-2 {
  background-color: red;
}
.grid .container .card-3 {
  background-color: blue;
}
.grid .container .card-4 {
  background-color: forestgreen;
}
